<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        div{
            width: 100px;
            height: 100px;
        }
        textarea{
            width: 100px;
            height: 100px;
        }
        #ta{
            width: 100px;
            height: 100px;
            overflow: scroll;
        }
    </style>
</head>
<body>
<div>
</div>
<button id="add-textarea">添加textarea</button>
<button id="add-data">添加数据</button>
<script src="//cdn.bootcss.com/jquery/1.8.2/jquery.min.js"></script>
<script>
    $('#add-textarea').click(function () {
        $('div').html("<textarea onscroll='scrollEvent()'></textarea>")
    })
    $('#add-data').click(function () {
        $('textarea').val('123\n56\n89\n78\n123\n56\n89\n78\n123\n56\n89\n78\n123\n56\n89\n78\n123\n56\n89\n78\n123\n56\n89\n78\n123\n56\n89\n78\n123\n56\n89\n78\n')
    })
    $(document).on('scroll','textarea',function(){
        console.log('scroll')
    })
    function scrollEvent() {
        console.log("scroll")
    }
</script>
<div id="ta">tata</div>
<!--<script>-->
    <!--window.onload = function () {-->
        <!--var ta = document.getElementById('ta'), i = 0;-->
        <!--setInterval(function () {-->
            <!--ta.text(ta.text()+i + '\n');-->
            <!--i++;-->
            <!--ta.scrollTop = ta.scrollHeight;//////////////-->
        <!--}, 1000);-->
    <!--}-->
<!--</script>-->
</body>
</html>