.top {
  width: 100%;
  background-color: #dddddd;
  height: 200px;
  border-bottom: 1px solid #333; }

.top .top-left {
  display: flex;
  height: 200px;
  line-height: 125px;
 }
.select-pic{
  display: inline-block;
  width: 250px;
  height: 199px;
}
.formula-select-box{
  margin: 20px 20px;
  flex: 1;
  display: inline-block;
  overflow: hidden;
  height: 160px;

}
.formula-select-box ul{
  width: 300%;
  height: 100%;
  list-style: none;
}
.formula-select-box .radio{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
  display: inline-block;
  width: 100%;
  height:80%;
  opacity: 0;
  cursor: pointer;
}
.formula-select-box ul li{
  position: relative;
  cursor: pointer;
  display: inline-block;
  height: 150px;
  width: 120px;
  margin: 0 5px;
}
.formula-select-box ul li.select:after{
  position: absolute;
  content: "";
  z-index: 998;
  top: 0;
  right: 0;
  width: 32px;
  height: 32px;
  background: url("./../image/select.png") no-repeat;
}
.formula-select-box ul li img{
  z-index: 997;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 80%;
}
.formula-select-box ul li h5{
  font-size: 12px;
  font-weight: normal;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.formula-select-box ul li.select h5{
  color: #1296db;
}
.center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: calc(100vh - 101px); }
.center .left {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 250px;
  -ms-flex: 0 0 250px;
  flex: 0 0 250px;
  border-right: 1px solid #dddddd; }
.center .left .formulaParameterForOne>div{
  overflow: hidden;
  position: relative;
}
.center .left .formulaParameterForOne div h5{
  padding: 0 10px;
  height: 40px;
  line-height: 40px;
  background: #b3b3b3;
}
.paramName{
  width: 48%;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #000000;
  outline: none;
  background:#b3b3b3;
}
.left-parameter .paramName{
  width: 100%;
}
.paramName:focus{
  background: #b3b3b3;

}
.center .left .formulaParameterForOne div h5 span{
  float: right;
  cursor: pointer;
}
.center .left .formulaParameterForOne div h5 span:hover{
  text-decoration: underline;
  color: #1296db;
}
.table-result{
  display: flex;
  border-bottom: 1px solid #aaaaaa;
}
.center .left .formulaParameterForOne .table-result div {
  display: inline-block;
  height: auto;
  width: 50%;
  vertical-align: top;}
.result-unit{
  text-align: center;
  font-size: 12px;
  padding: 5px;
  height: 35px;
  line-height: 25px;
  background: #f3f3f3;
  border-left:1px solid rgb(169, 169, 169) ;
  border-right:1px solid rgb(169, 169, 169) ;
}
.left form{
  padding-bottom: 10px;
  border-bottom: 1px solid #aaaaaa;
}
.center .left .formulaParameterForOne textarea{
  padding: 5px;
  height: calc(100% - 35px);
  width: 100%;
  resize: none;
  min-height: 105px;

}
.center .left .formulaParameterForOne table tr td{
  border-bottom: 1px solid #aaaaaa;
}
.center .left .formulaParameterForOne table tr:nth-child(2n+1) {
  background: #f3f3f3; }
.center .left .formulaParameterForOne table tr:nth-child(2n) {
  background: #dddddd; }
.center .left .formulaParameterForOne table tr td:nth-child(1) {
  font-size: 12px;
  text-align: right;
  width: 40%;
  padding: 5px; }
.center .left .formulaParameterForOne table tr td:nth-child(2) {
  text-align: left;
  width: 60%;
  padding: 5px; }
.center .left .formulaParameterForOne table tr td input {
  padding: 3px;
  width: 100%}
.center .left .formulaParameterForOne table thead th{
  background: rgba(24, 26, 24, 0.25);
  padding: 5px;
}
.center .left .formulaParameterForOne table thead th:nth-child(2){
  font-size: 14px;
  font-weight: normal;
  text-align: right;
}
.center .left .formulaParameterForOne table thead th:nth-child(2) span{
  cursor: pointer;
  margin-right: 3px;
}
.center .left .formulaParameterForOne table thead th:nth-child(2) span:hover{
  text-decoration: underline;
  color: #1296db;
}
.center .left .left-parameter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  margin: 20px 0;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  text-align: center; }
.center .left .left-parameter div {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  height: 300px;
  width: 70px;
  margin: 0 5px; }
.center .left .left-parameter div h4 {
  height: 20px;
  line-height: 20px; }
.center .left .left-parameter div textarea {
  border-radius: 3px;
  padding: 5px;
  resize: none;
  width: 100%;
  height: calc(100% - 20px); }
.center .left button {
  margin-top: 10px;
  margin-left: 3px;
  padding:5px;
  outline: none;
  border-radius: 10px;
  background: #ffffff;
  border: 1px solid #aaaaaa;
  font-size: 12px;
  cursor: pointer; }
.center .left button:hover{
  color: #1296db;
  border: 1px solid #1296db;
}
.center .right {
  display: inline-block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }
.center .right #hchartsBox {
  margin-bottom: 30px; }

.fileerrorTip ,.showFileName{
  font-size: 14px;
  margin-left: 3px;
}
.fileerrorTip{
  color: red;
}

.a-upload {
  position: relative;
  outline: none;
  border: 1px solid #333;
  cursor: pointer;
  overflow: hidden;
}

.a-upload input {
  position: absolute;
  right: 0;
  margin-left: 5px;
  padding: 5px;
  top: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer
}

.a-upload:hover {
  color: #444;
  background: #eee;
  border-color: #ccc;
  text-decoration: none
}
.addOneFormulaParam{
  display: none;
}
.addOneFormulaParam div{
  margin: 0 auto;
  cursor: pointer;
  width: 32px;
  height: 32px;
  background: url("./../image/add.png") no-repeat center;
}
.addOneFormulaParam div:hover{
  background: url("./../image/addHover.png") no-repeat center;
}
